---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/dragon.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, I'm a Front-End Developer, this is a blog where I write about
			programming, tools, and other exciting topics.
		</p>
		<div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at 'Astro.build' logo"
			/>
		</div>
		<p>Some topics:</p>
		<ul class="list-disc list-inside">
			<li>Front-End | Javascript | TypeScript | HTML | CSS</li>
			<li>Programming | Software Architecture</li>
			<li>Frameworks | React | Vue | Astro</li>
			<li>Python | C#</li>
		</ul>
		<p>
			Clone or fork astro-cactus
			<a
				class="inline-block cactus-link"
				href="https://github.com/chrismwilliams/astro-cactus"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository"
			>
				repo
			</a> if you like this blog template
		</p>
	</div>
</PageLayout>
